@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  display: grid;
  background-color: #b550f9;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

.stepper-wrapper {
  font-family: Arial;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
@media (max-width: 768px) {
  .stepper-item {
    font-size: 12px;
  }
}
.stepper-item .step-name {
  color: #ccc;
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  color: #fff;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
  color: #ccc;
}

.stepper-item.completed .step-counter {
  background-color: #282120;
}

.stepper-item.completed .step-name {
  color: #282120;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #282120;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 40px;
  height: 40px;
}

.border {
  border: 2px solid black;
  border-radius: 50%;
}

.position {
  display: flex;
  justify-content: center;
}

main .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100px;
}

main .rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100px;
}

main .start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .start .startButton {
  background-color: #ccc;
  height: 30px;
  width: 100px;
  cursor: pointer;
  border: none;
  border-radius: 5%;
}

main {
  margin-top: 20px;
}
main .question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}
main .question h4 {
  height: 0px;
}
main .question p {
  text-align: justify;
}
@media (max-width: 768px) {
  main .question {
    width: 80%;
  }
}
main .answers {
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
main .answers .answer {
  cursor: pointer;
  background-color: #ccc;
  width: 450px;
  margin: 1em 0;
  padding: 1em;
  text-align: center;
}
main .answers .disable {
  pointer-events: none;
}

.score1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.score1 .retryButton {
  background-color: #ccc;
  height: 30px;
  width: 100px;
  cursor: pointer;
  border: none;
  border-radius: 5%;
}

.prog-bar {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  margin-top: 100px;
}
@media (max-width: 425px) {
  .prog-bar {
    margin-top: 50%;
  }
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10px;
}

.circle.correct {
  background-color: #2ee01e;
  content: url(./../images/done.png);
}

.circle.wrong {
  background-color: #EA4444;
  content: url(./../images/wrong.png);
}/*# sourceMappingURL=style.css.map */