@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


.steps{
    display: flex;
    justify-content: center;
    width: 100%;

    .stepsList{
        list-style-type: none;
        display: flex;

        .stepsListItems{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            min-width : 170px;

            .progressCount{
                height: 40px;
                width: 40px;
                @include flexCenter();
                border-radius: 50%;
                font-weight: 600;
                margin: 0 auto;
                position: relative;
                z-index: 10;
            }
        }

            .stepsListItems + .stepsListItems::after{
                content:"";
                position: absolute;
                left: 0;
                top: 19px;
                background-color: black;
                width: 100%;
                height: 2px;
                transform: translateX(-50%);
                z-index: -10;
            }
    }
}

