@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@mixin flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body{
    display: grid;
    background-color: #FFFF00;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

@import './stepper';

main{
    .logo{
    @include flexCenter();
    width: 100%;
    min-width: 100px;
}
}

main{
    .rules{
        @include flexCenter();
        width: 100%;
        min-width: 100px;
    }
}

main .start{
    @include flexCenter();
    .startButton{
        background-color: #ccc;
        height: 30px;
        width: 100px;
        cursor: pointer;
        border: none;
        border-radius: 5%;
    }
}

main {
    margin-top: 20px;
    .question{
        @include flexCenter();
        width: 50%;
        margin: auto;
        h4{
            height: 0px;
        }
        p{
            text-align : justify;
        }
        @media(max-width: 768px){
            width: 80%;
        }
    }
    .answers{
        padding-top: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        margin: auto;
        .answer{
            cursor: pointer;
            background-color: #ccc;
            width: 450px;
            margin: 1em 0;
            padding: 1em;
            text-align: center;
        }
        .disable{
            pointer-events: none;
        }
    }
    
}

.score1{
    @include flexCenter();
    display: none; 

    .retryButton{
        background-color: #ccc;
        height: 30px;
        width: 100px;
        cursor: pointer;
        border: none;
        border-radius: 5%;
    }
}

.prog-bar{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    margin-top: 100px;
    @media (max-width: 425px){
        margin-top: 50%;
    }
}


.circle{
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
}

.circle.correct{
    background-color: #2ee01e;
    content: url(./../images/done.png);
}  
.circle.wrong{
    background-color: #EA4444;
    content: url(./../images/wrong.png);
}